//Typography
$font-family: "Red Hat Display", sans-serif;
$font-size: 1rem;


//Colors
//Primary
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
//Neutral
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
//HTML basics
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}
